h1{color:white;
	text-align:Center;	
	font-size:50px;
	font-family:Algerian;
	background-color:rgba(0,0,200,1);
	margin-bottom:10px;
	margin-top:20px;
}
h3{color:yellow;
   margin-bottom:0px;

 }
h2{color:yellow;
   margin-bottom:0px;
   text-align:center;

 }
 .container
{

margin: auto;
font-family: Arial, Helvetica, sans-serif;
font-size: 175%;
list-style:none;
width:80%;
}
#navlist li
{
display: inline-block;
list-style-type: none;
margin-left: .5px;
margin-top:20px;
margin-right:150px;
float: right;
font-size:120%;
}

#navlist a { padding: 5px 10px; }

#navlist a:link, #navlist a:visited
{
color: blue;
background-color: white;
text-decoration: none;
}
header
{
	background:white;
}
.logo
{
	float: right;
	
}
#navlist a:hover
{
color: white;
background-color: black;
text-decoration: none;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
* {box-sizing:border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
  background:white;
}
.mySlides {
    display: none;
	position: right;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: blue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#footer {
    background-color:blue;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	
   font-size:200%;
  width:100%;   
}
#footer2 {
    background-color:blue;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	
   font-size:200%;
  width:100%;   
}  