		{% extends 'polaris/index.html' %}
			{% block title %}Google Maps World Viewer{% endblock %}
			{% block style %}
			<style>
			
				#map{
					height:600px;	
					width:auto;
				}
			
			</style>
			{% endblock %}
		
			{% block body %}
			<div class = "container">
				<div class = "jumbotron text-center">
					<h1>Google Maps World Viewer</h1>
					<p>Highlights each of the car paths' locations on Planet Earth</p>
					<p class = "small">(Works only with Sample Dataset)</p>
				</div>	
				<div id = "map"></div>
			</div>
			{% endblock %}
		
		{% block javascript %}
		<script>
		
			var map;
			console.log('map var created')

			function initMap() {
				console.log('method enered')
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 90, lng: 90},
					zoom: 1
				});
				console.log('Map Created')

				var markers = [];
				{% for coord in average_points %}
					markers.push(new google.maps.Marker({position:{lat: {{coord.1}}, lng: {{coord.0}}}, map: map}));
				{% endfor %}
				console.log('markers laid')
				
				var bounds = new google.maps.LatLngBounds();
				for(var i = 0; i < markers.length; i++){
					bounds.extend(markers[i].getPosition());	
				}
				map.fitBounds(bounds);
			}	
		
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzQ6ZjhBNtsK0vpLw62SICuxjP5ca-1dI&callback=initMap"
		    async defer></script>
			{% endblock %}
